* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2F2F2;
    margin-bottom: 40px;
}

header {
    padding: 14px 0px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

header > h1 {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 700;
    color: #252D31;
}

header > h1::after {
    content: " 📚";
    font-size: 26px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > #sectionTitle {
    margin: 40px 0px 22px 0px;
    font-size: 22px;
    text-align: center;
}

section > #bookForm {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 40px;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

section > form > div {
    margin-bottom: 10px;
}

section > form > .bookInput {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section > form > .bookInput > label {
    cursor: pointer;
}

section > form > .bookInput > label::after {
    content: ":";
}

section > form > .bookInput > input {
    padding: 6px;
}

section > form > .bookCheckbox {
    margin-top: 4px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
}

section > form > .bookCheckbox > label {
    cursor: pointer;
}

section > form > .bookCheckbox > label::after {
    content: ":";
}

section > form > button {
    padding: 6px;
    cursor: pointer;
}

section > #searchTitle {
    display: none;
}

section > #searchBook {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 450px;
    background-color: #fff;
    padding: 18px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section > #searchBook > label{
    font-size: 16px;
    cursor: pointer;
}

section > #searchBook > label::after {
    content: ":";
}

section > #searchBook > input {
    width: 200px;
    padding: 2px 10px;
}

section > #searchBook > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

section > .bookTitle {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

section > #incompleteBookList, #completeBookList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bookContainer {
    width: 450px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.bookAuthor {
    margin-top: 6px;
}

.bookAuthor::before {
    content: "Penulis: ";
}

.bookYear::before {
    content: "Tahun Terbit: ";
}

.button {
    cursor: pointer;
}

.buttonContainer {
    margin-top: 14px;
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 900px) {
    section > #bookForm {
        width: 90%;
    }
    
    section > #searchBook {
        width: 90%;
        padding: 20px;
    }

    section > #searchBook > label {
        font-size: 14px;
    }
    
    section > #searchBook > input {
        width: 80%;
    }

    section > .bookTitle{
        width: 90%;
    }
    
    .bookContainer{
        width: 90vw;  
    }
}